{% extends "layout.html" %}


{% block title %}
Statistics
{% endblock %}


{% block body %}
<body class="body">

  
  <h1>Books on loan</h1>

  <div class="flex justify-center">
    <table class="borrowedBooksTable">
      <tr>
        <th>User</th>
        <th>Book</th>
        <th>Borrowed on</th>
        <th>Borrowed days</th>
      </tr>
      
      {% for book in books %}
      <tr>
        <td>
          {{ book.user.firstname }} {{ book.user.lastname }}
        </td>
        <td>
          {{ book.title }}
        </td>
        <td>
          {{ book.borrowed_date }}
        </td>
        <td>
          {{ book.borrowed_days }}
        </td>
      </tr>
      {% endfor %}

    </table>
  </div>

</body>
{% endblock %}